@import url("https://fonts.googleapis.com/css?family=Advent+Pro:400,700|Eagle+Lake");/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}/* HTML5 display-role reset for older browsers */article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}

body {
  line-height: 1rem;
}

ol,ul {
  list-style: none;
}

blockquote,q {
  quotes: none;
}

blockquote:after,blockquote:before,q:after,q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header__outer {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(142, 35, 35, 0.6)), to(rgba(62, 8, 8, 0.7))), url("../images/wp-water.gif");
  background-image: linear-gradient(to top, rgba(142, 35, 35, 0.6), rgba(62, 8, 8, 0.7)), url("../images/wp-water.gif");
  background-position: center;
  background-size: cover;
  padding: 10px;

}

.header__title {
  margin: 10px 0 25px;
  font-size: 1.2rem;
  line-height: 1rem;
  font-family: "Advent Pro", sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
}

.header__search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 30px auto 10px;
  height: 30px;
  width: 80%;
}

.header__input--search {
  height: 30px;
  width: 250px;
  border: 0;
  border-bottom: 1px solid black;
  padding: 5px;
  font-size: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  font-size: 0.7rem;
}

::-moz-placeholder {
  font-size: 0.7rem;
}/* firefox 19+ */:-ms-input-placeholder {
  font-size: 0.7rem;
}/* ie */input:-moz-placeholder {
  font-size: 0.7rem;
}

.header__button--submit {
  margin-left: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8e2323), to(#490811));
  background-image: linear-gradient(to bottom, #8e2323, #490811);
  border: 0 none;
  height: 30px;
  width: 80px;
  cursor: pointer;
  color: white;
  font-size: 0.8rem;
}

.details__container--options {
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
}

.details__container--options:hover {
  opacity: 1;
}

.details--options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 363px;
  padding: 50px 0;
}

.icon--favorite,.icon--rating,.icon--summary {
  font-size: 1.4rem;
  margin: 14px;
  cursor: pointer;
  text-shadow: 0 0 5px black;
}

.icon--rating {
  font-size: 2rem;
  cursor: auto;
}

.icon--favorite {
  color: #bdb60f;
}

.icon--summary {
  color: #99cbe3;
}

.details__favorites--box,.details__rating--box,.details__summary--box {
  position: relative;
}

.details__rating--box {
  margin-bottom: -20px;
}

.details__container {
  position: absolute;
  top: 1px;
  left: 1px;
  height: 304px;
  width: calc(100% - 2px);
  background: rgba(255, 255, 255, 0.9);
  text-align: justify;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: scroll;
  display: none;
}

.summary__container-visible,.summary__container:hover {
  display: block;
}

.details--legend {
  position: absolute;
  top: -2px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 50px;
  font-size: 0.65rem;
  color: rgba(235, 235, 235, 0.7);
  line-height: 1;
  text-align: center;
}

.details__rating--rate {
  margin-top: -5px;
  font-size: 1rem;
  color: #0eb50f;
  text-align: center;
}

.footer {
  z-index: 3;
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.9);
  height: auto;
  width: 100vw;
  padding: 5px;
}

.footer__credits--text-box {
  margin: 0;
  width: 100vw;
}

.footer__credits--text {
  margin: 0;
  text-align: center;
  font-family: "Advent Pro", sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  color: rgba(215, 196, 17, 0.7);
  cursor: pointer;
}

.footer__outer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  width: 100vw;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
}

.footer__inner:last-of-type {
  grid-column: span 2;
}

.footer__text {
  margin: 4px 0;
  font-family: 'Eagle Lake', cursive;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.5);
}

.footer__anna--img {
  width: 120px;
}

.footer__adalab__img {
  margin-top: 0;
  width: 100px;
}

.footer__powered--img {
  margin-top: 20px;
  width: 120px;
}

.footer__version {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.8rem;
  grid-column: span 3;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: black;
}

.main__outer {
  position: relative;
  height: calc(100vh - 120px);
  width: 100vw;
  overflow: hidden;
}

.main__inner {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(black));
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), black);
  background-size: cover;
  background-position: center;
  -webkit-filter: blur(3px) grayscale(70%);
  filter: blur(3px) grayscale(70%);
  height: 100vh;
}

.main__results--list {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 150px;
}

.main__search--results {
  position: absolute;
  top: 5px;
  height: 100vh;
  width: 100vw;
  min-height: 570px;
  overflow: scroll;
}

.serie-LI {
  margin: 10px;
}

.serie-DIV {
  position: relative;
  border: 3px solid rgba(201, 201, 201, 0.1);
  border-radius: 20px;
  min-height: 360px;
  width: 250px;
  background: rgba(201, 201, 201, 0.1);

  padding: 10px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.serie-H2 {
  margin-top: 10px;

  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #e3accf;
}

.serie-IMG-no {
  opacity: 0.5;
}

.no-favorites {
  margin-top: 60px;
  font-family: "Advent Pro", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 3px;
  color: #c3c698;
}

.favorite {
  -webkit-box-shadow: inset 0 0 30px 5px rgba(217, 224, 76, 0.4);
  box-shadow: inset 0 0 30px 5px rgba(217, 224, 76, 0.4);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.favorite .serie-IMG {
  -webkit-box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.1);
}

.favorite .serie-H2 {
  color: #d9e04c;
}

.serie-IMG {
  border-radius: 10px;
}

.amazing-show {
  color: #64d265;
}

.good-show {
  color: #64d265;
}

.notbad-show {
  color: #c6c6c6;
}

.notrated-show {
  color: rgba(150, 150, 150, 0.39);
}

.bad-show {
  color: #bd5454;
}

.hidden {
  display: none !important;
}

@media all and (min-width: 380px) {
  .header__title {
    font-size: 2.2rem;
  }

  .header__search-box {
    width: 100%;
  }
}

@media all and (min-width: 500px) {
  .footer__outer {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    width: 100vw;
    min-width: 500px;
  }

  .footer__inner {
    margin-bottom: 0;
    width: 33vw;
  }

  .footer__inner:last-of-type {
    grid-column: span 1;
  }

  .footer__adalab__img {
    margin-top: 15px;
  }
}

/*# sourceMappingURL=main.css.map */
