.favorite {
	background: #d9e04c;
	border    : 3px solid #c9bd16;
	box-sizing: border-box;
}

.amazing-show {
	color: #64d265;
}

.good-show {
	color: #64d265;
}

.notbad-show {
	color: #c6c6c6;
}

.notrated-show {
	color: rgba(150, 150, 150, 0.39);
}

.bad-show {
	color: #bd5454;
}

.hidden {
	display: none;
}
