.favorite {
	//background: rgba(217, 224, 76, 0.1);
	box-shadow: inset 0 0 30px 5px rgba(217, 224, 76, 0.4);

	box-sizing: border-box;

	& .serie-IMG {
		//border: 1px solid rgba(217, 224, 76, 0.4);
		box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.1);
	}

	& .serie-H2 {
		color: rgba(217, 224, 76, 1);
	}
}

.serie-IMG {
	border-radius: 10px;
}

.amazing-show {
	color: #64d265;
}

.good-show {
	color: #64d265;
}

.notbad-show {
	color: #c6c6c6;
}

.notrated-show {
	color: rgba(150, 150, 150, 0.39);
}

.bad-show {
	color: #bd5454;
}

.hidden {
	display: none !important;
}
