body {
	margin     : 0;
	font-family: sans-serif;
	background : black;
}

$main__outer-height: calc(100vh - 120px);

.main__outer {
	position: relative;
	height  : $main__outer-height;
	width   : 100vw;
	overflow: hidden;
}

.main__inner {
	background-image   : linear-gradient(rgba(0, 0, 0, 0.7),rgb(0, 0, 0));
	background-size    : cover;
	background-position: center;
	filter: blur(3px) grayscale(70%);
	height             : 100vh;
}

.main__results--list {
	width          : 100%;
	height         : auto;
	display        : flex;
	flex-wrap      : wrap;
	align-items    : center;
	justify-content: center;
	margin-bottom  : 150px;
}

.main__search--results {
	position  : absolute;
	top       : 5px;
	height    : 100vh;
	width     : 100vw;
	min-height: 570px;
	overflow  : scroll;

}

.serie-LI {
	margin: 10px;
}

.serie-DIV {
	position     : relative;
	border       : 3px solid rgba(#c9c9c9, 0.1);
	border-radius: 20px;
	min-height   : 360px;
	width        : 250px;
	background   : rgba(#c9c9c9, 0.1);
	padding      : 10px;
	text-align   : center;
	box-sizing   : border-box;
	overflow     : hidden;
}

.serie-H2 {
	margin-top    : 10px;
	letter-spacing: 1px;
	font-size     : 1rem;
	font-weight   : bold;
	text-align    : center;
	color         : #e3accf;
}

.serie-IMG-no {
	opacity: 0.5;
}

.no-favorites {
	margin-top    : 60px;
	font-family   : $font__title;
	font-size     : 1.2rem;
	letter-spacing: 3px;
	color         : rgb(195, 198, 152);
}
