body {
  font-family: sans-serif;
}

.main__title {
  margin     : 20px 0;
  font-size  : 1.2rem;
  line-height: 1rem;

  font-weight: bold;
  text-align : center;

  @media all and (min-width: 380px) {
    font-size: 1.4rem;
  }
}

.main__search-box {
  display        : flex;
  align-items    : center;
  justify-content: center;
  margin         : 30px auto 50px;
  height         : 30px;
  width          : 80%;

  @media all and (min-width: 380px) {
    width: 100%;
  }
}

.main__input--search {
  height       : 30px;
  width        : 250px;
  border       : 0;
  border-bottom: 1px solid black;
  padding      : 5px;
  font-size    : 1rem;
  box-sizing   : border-box;
}

::-webkit-input-placeholder {
  font-size: 0.7rem;
}

::-moz-placeholder {
  font-size: 0.7rem;
}
/* firefox 19+ */
:-ms-input-placeholder {
  font-size: 0.7rem;
}
/* ie */
input:-moz-placeholder {
  font-size: 0.7rem;
}

.main__button--submit {
  margin    : 0 7px;
  background: #8e2323;
  border    : 0 none;
  height    : 30px;
  width     : 80px;
  cursor    : pointer;
  color     : white;
  font-size : 0.8rem;
}

.main__results--list {
  width          : 100%;
  height         : auto;
  display        : flex;
  flex-wrap      : wrap;
  align-items    : center;
  justify-content: center;
}

$main__search--results-width: calc(100vw - 80px);

.main__search--results {

  height    : auto;
  min-height: 570px;
  width     : $main__search--results-width;
  margin    : 0 auto;
}

.serie-LI {
  margin: 10px;
}

.serie-DIV {
  position  : relative;
  border    : 3px solid #FDA7DF;
  min-height: 360px;
  width     : 270px;
  background: #FDA7DF;
  padding   : 10px;
  text-align: center;
  box-sizing: border-box;
  cursor    : pointer;
}

.serie-H2 {
  margin-top : 10px;
  font-size  : 1rem;
  font-weight: bold;
  text-align : center;
  color      : #b92f2f;
}
